{% extends 'management/management_base.html' %}
{% block content %}
    <h1>Add new hosting service (step 2)</h1>
    <form method="POST" action="" class="hosting-service-form">
        {{ form.csrf_token }}
        <div class="form-fields">
            <p>
                {{ form.type.label }}
                {{ form.type() }}
            </p>
            <p>
                {{ form.landingpage_url.label }}
                {{ form.landingpage_url() }}
            </p>
            <p>
                {{ form.api_url.label }}
                {{ form.api_url() }}
            </p>
            <p>
                {{ form.api_key.label }}
                {{ form.api_key() }}
            </p>
            <p>
                {{ form.custom_config.label }}
                {{ form.custom_config(rows=4) }}
                {{ form.custom_config.description }}
            </p>
            <p>
                {% if form.help_text_md %}
                    {{ form.help_text_md | safe }}
                {% endif %}
            </p>
        </div>
        <div class="form-submit">
            <input type="submit" value="submit">
        </div>
    </form>
{% endblock %}
