{% extends 'base.html' %}

{% block styles %}
{% assets "scss_hosting_service_management" %}
<link rel=stylesheet type=text/css href="{{ ASSET_URL }}">
{% endassets %}
{% endblock %}
{% block content %}

{% if current_user.has_role('admin') %}
<h3>{{ current_user.email }} (admin)</h3>
{% endif %}
<h2>add new hosting service (step 2)</h2>

<form method="POST" action="" class="hosting-service-form">
    {{ form.csrf_token }}
    <div class="hosting-service-form-line">
        {{ form.type.label }} {{ form.type() }}
    </div>
    <div class="hosting-service-form-line">
        {{ form.landingpage_url.label }} {{ form.landingpage_url() }}
    </div>
    <div class="hosting-service-form-line">
        {{ form.api_url.label }} {{ form.api_url() }}
    </div>
    <div class="hosting-service-form-line">
        {{ form.config.label }} {{ form.config(rows=4, cols=30) }}
    </div>
    <input type="submit" value="Go">
</form>
{% endblock %}
