{% extends 'management/management_base.html' %}


{% block content %}
    <h1>Edit Hosting Service</h1>
    <h2>{{ form.landingpage_url.data }}</h2>
    {% if current_user.has_role('admin') %}
        <p>(admin) managed by: {{ owner }}</p>
    {% endif %}

    <form method="POST" action="" class="hosting-service-form">
        {{ form.csrf_token }}
        <div class="form-fields">
            <p>
                {{ form.type.label }}
                {{ form.type() }}
            </p>
            <p>
                {{ form.landingpage_url.label }}
                {{ form.landingpage_url() }}
            </p>
            <p>
                {{ form.api_url.label }}
                {{ form.api_url() }}
            </p>
            <p>
                {{ form.config.label }}
                {{ form.config(rows=4) }}
            </p>
        </div>
        <div class="form-submit">
            <input type="submit" value="submit">
        </div>
    </form>
{% endblock %}
