{% extends 'base.html' %}

{% block styles %}
    {% assets "scss_search" %}
        <link rel=stylesheet type=text/css href="{{ ASSET_URL }}">
    {% endassets %}
{% endblock %}

{% block content %}
<div class="hosting-service-list">
    {% for user, instances in hosting_services.items() %}
    <h3>{{user}}</h3>
        {% for instance in instances %}   
            <div class="item">
                {{ instance.landingpage_url }} - 
                <a href="{{ url_for('frontend.manage_instance', hosting_service_id=instance.id) }}">edit</a>
            </div>
        {% endfor %}
    {% endfor %}
</div>

{% endblock %}
