@import "../shared_bundle";
@import "../components/status_message/status_message";
@import "../components/collapsible/collapsible";
@import "../components/search_form/searchform";

.search {

  &-main {
    margin: 0 auto;
    width: 100%;
    min-width: 25rem;
    max-width: 37.5rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    &-title {
      h1 {
        color: color(hubgrepDark);
        text-align: center;
        margin: 1rem 0;
      }

      a:hover {
        text-decoration: none;
      }
    }

    &-form {
      width: 100%;

      .collapsible-content {
        margin-top: 0.5em;
      }
    }
  }

  &-result {
    &-messages:first-child {
      margin-top: 1rem;
    }
  }
}

@include maxBreakpoint(mobile) {
  .search {

    &-main {
      margin: 0 1em;
      width: auto;
      min-width: unset;
    }
  }
}
