@import "components/result_card/result_card";
@import "components/pagination/pagination";
@import "search/search_base";


header {
  display: none;
}

footer {
  justify-content: flex-end;
}

.search {

  @include minBreakpoint("mobile") {

    &-main {
      flex-direction: row;
      margin: 0;

      &-logo {
        position: absolute;
        left: 0;
        top: 8rem;
        transition: transform 1s linear;

        .body {
          width: 98px;
          height: 118px;
          background-size: cover;
          background: url('../../../static/images/frog_face.png') no-repeat center;
        }

        &:hover {
          transform: translate(-3rem)
        }
      }

      &-title {
        min-width: calc(#{value(lMargin)} - 1rem);
      }
    }

    &-result {
      padding-left: value(lMargin);
    }
  }

  @include maxBreakpoint("mobile") {
    &-result {
      padding: 0 1rem;
    }
  }
}