{% extends 'base.html' %}

{% block styles %}
    {% assets "scss_search" %}
        <link rel=stylesheet type=text/css href="{{ ASSET_URL }}">
    {% endassets %}
{% endblock %}

{% block content %}
    <div class="main">
        <div class="main-title">
            <h1>{{ title }}</h1>
        </div>

        <div class="main-search">
            <div class="main-search-form">
                <form>
                    <form action="{{ search_url }}" method="get">
                        <div class="input-bar">
                            <label for="searchbar" aria-label="search"></label>
                            <input type="text" id="searchbar" name="s" value="{{ search_phrase or '' }}">
                        </div>
                    </form>
                </form>
            </div>
        </div>
    </div>

    <div class="result">
        <div class="result-message"></div>
        <div class="result-items">
            {% import "search/result_card.html" as result_card %}
            {% for search_result in search_results %}
                {{ result_card.card(search_result) }}
            {% endfor %}
        </div>
    </div>
{% endblock %}
