{% extends 'base.html' %}

{% block styles %}
    {% if request.args.get('s') %}
        {% assets "scss_search" %}
            <link rel=stylesheet type=text/css href="{{ ASSET_URL }}">
        {% endassets %}
    {% else %}
        {% assets "scss_search_empty" %}
            <link rel=stylesheet type=text/css href="{{ ASSET_URL }}">
        {% endassets %}
    {% endif %}
{% endblock %}

{% import "components/nav.html" as nav %}
{% set nav_items = [[url_for('frontend.about'), "about"], [url_for('frontend.hosters'), "hosters"]] %}
{% if current_user.is_authenticated %}
    {% set _ = nav_items.append([url_for('frontend.manage_instances'), "manage"]) %}
    {% set _ = nav_items.append([url_for('security.logout'), "logout"]) %}
{% else %}
    {% set _ = nav_items.append([url_for('security.login'), "login"]) %}
    {% set _ = nav_items.append([url_for('security.register'), "register"]) %}
{% endif %}

{% block header %}
    {% if current_user.is_authenticated %}
        logged in as {{ current_user.email }}
    {% else %}
    {% endif %}
    {% if not request.args.get('s') %}
        {{ nav.links(nav_items) }}
    {% endif %}
{% endblock %}

{% block footer %}
    {% if request.args.get('s') %}
        {{ nav.links(nav_items) }}
    {% endif %}
{% endblock %}

{% block content %}
    <div class="search">
        <div class="search-main">
            <div class="search-main-logo">
                <div class="body" title="&#34;its Hobgrebbit, the hubgrep logo!&#34;" aria-label="hubgrep logo image">
                    <div class="eye"></div>
                </div>
            </div>

            <div class="search-main-title">
                <a class="negate" href="/">
                    <h1>{{ title }}</h1>
                </a>
            </div>

            {% import "search/search_form.html" as search_form %}
            {{ search_form.create_form(search_url, form, class="search-main-form") }}
        </div>

        <div class="search-result">
            <div class="search-result-messages">
                {% import "components/status_message.html" as status %}
                {% for error in external_errors %}
                    {{ status.message("warn", error, "TODO FORMAT ERROR TEXTS FOR ENDUSER: ") }}
                {% endfor %}
                {{ status.message("info", search_feedback) }}
            </div>
            <div class="search-result-items">
                {% import "search/result_card.html" as result_card %}
                {% for search_result in search_results %}
                    {{ result_card.card(search_result) }}
                {% endfor %}
            </div>
            <div class="search-result-pagination">
                {% import "components/pagination.html" as pagination %}
                {{ pagination.controls(pagination_links) }}
            </div>
        </div>
    </div>
{% endblock %}
