{% extends 'base.html' %}

{% block content %}
    <div class="search">
        <div class="search-main">
            {% block search_title %}{% endblock %}

            <div class="search-main-logo">
                {% block search_logo %}{% endblock %}
            </div>

            {% import "components/search_form/search_form.html" as search_form %}
            {{ search_form.create_form(form, class="search-main-form") }}
        </div>

        <div class="search-result">
            <div class="search-result-messages">
                {% import "components/status_message/status_message.html" as status %}
                {% for error in external_errors %}
                    {% if current_user.has_role("admin") %}
                        {{ status.message("warn", error, "(ADMIN) Hosting-service failure: ") }}
                    {% else %}
                        {{ status.message("warn", "There was a problem getting results from " + get_service_label_from_url(error[0]) + ".") }}
                    {% endif %}
                {% endfor %}
                {{ status.message("info", search_feedback) }}
            </div>
            <div class="search-result-items">
                {% import "components/result_card/result_card.html" as result_card %}
                {% for search_result in search_results %}
                    {{ result_card.card(search_result) }}
                {% endfor %}
            </div>
            <div class="search-result-pagination">
                {% import "components/pagination/pagination.html" as pagination %}
                {{ pagination.controls(pagination_links) }}
            </div>
        </div>
    </div>
{% endblock %}
