@import "../components/result_card/result_card";
@import "../components/pagination/pagination";
@import "../search/search_base";

body, section {
  margin: 0; // disable page centering
}

header {
  display: flex;
  justify-content: space-around;
}

footer {
  .footer-bg {
    display: flex;
    justify-content: center;

    div {
      justify-self: normal;
      background: color(bgAlt);
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 100vw;
      height: 100%;
      pointer-events: none;
    }
  }
}

.nav {
  margin: 0;
}

.search {
  h1 {
    visibility: hidden;
    position: absolute;
  }

  &-result {
    padding: 0 1rem;
  }
}

@include minBreakpoint(mobile) {
  header {
    position: absolute;
  }

  .search {
    &-main {
      max-width: 37.5rem;
      flex-direction: row;
      margin: 0;

      &-logo {
        position: absolute;
        left: 0;
        top: 8rem;
        transition: transform 1s linear;

        .body {
          width: 98px;
          height: 118px;
          background-size: cover;
          background: url('../../../static/images/frog_face.png') no-repeat center;
        }

        &:hover {
          transform: translate(-3rem)
        }
      }

      .searchform {
        margin: 0.75rem 0 0 calc(#{value(lMargin)} - 1rem);
      }
    }

    &-result {
      padding-left: value(lMargin);
    }
  }
}