{% macro create_form(form, class="") %}
{% import "components/collapsible/collapsible.html" as collapsible %}

<div class="search-form {{ class }}">
    <form class="no-card" method="get">
        {% set searchbar_html %}
        <div class="input-bar">
            <label for="searchbar" aria-label="search"></label>
            <input type="text" id="searchbar" name="s" value="{{ form.search_phrase }}"
                   required="required" placeholder="{{ gettext("search for open source projects!") | safe }}">
            <label class="search-btn btn-effect" for="submit">
                <img src="/static/images/search.svg" alt="{{ gettext("search button icon") | safe }}">
            </label>
            <input type="submit" id="submit" value="">
        </div>
        {% endset %}


        {% set collapsible_content -%}
        <div class="filter-section">
            <div class="dates">
                <div class="filter-item dates-created-after">
                    <label for="created-after" title="{{ constants.TOOLTIP_FILTER_CREATED_AFTER }}">
                        {{ gettext("created after:") | safe }}</label>
                    <input type="date" id="created-after" name="{{ constants.FORM_ARGS.created_after }}"
                           value="{{ form.created_after }}">
                </div>
                <div class="filter-item dates-created-before">
                    <label for="created-before" title="{{ constants.TOOLTIP_FILTER_CREATED_BEFORE }}">
                        {{ gettext("created before:") | safe }}</label>
                    <input type="date" id="created-before" name="{{ constants.FORM_ARGS.created_before }}"
                           value="{{ form.created_before }}">
                </div>
                <div class="filter-item dates-updated">
                    <label for="updated" title="{{ constants.TOOLTIP_FILTER_MODIFIED_SINCE }}">
                        {{ gettext("modified since:") | safe }}</label>
                    <input type="date" id="updated" name="{{ constants.FORM_ARGS.updated_after }}"
                           value="{{ form.updated_after }}">
                </div>
                <div class="filter-item dates-pushed">
                    <label for="pushed" title="{{ constants.TOOLTIP_FILTER_PUSHED_SINCE }}">
                        {{ gettext("pushed since:") | safe }}</label>
                    <input type="date" id="pushed" name="{{ constants.FORM_ARGS.pushed_after }}"
                           value="{{ form.pushed_after }}">
                </div>
            </div>

            <div class="misc">
                <div class="filter-item misc-forks" title="{{ constants.TOOLTIP_FILTER_EXCLUDE_FORK }}">
                    <input type="checkbox" id="forks" name="{{ constants.FORM_ARGS.exclude_forks }}"
                           {% if form.exclude_forks %}checked{% endif %}>
                    <label for="forks">
                        {{ gettext("exclude forks") | safe }}</label>
                </div>
                <div class="filter-item misc-archived"
                     title="{{ constants.TOOLTIP_FILTER_EXCLUDE_ARCHIVED }}">
                    <input type="checkbox" id="archived" name="{{ constants.FORM_ARGS.exclude_archived }}"
                           {% if form.exclude_archived %}checked{% endif %}>
                    <label for="archived">
                        {{ gettext("exclude archived") | safe }}</label>
                </div>
                <div class="filter-item misc-empty"
                     title="{{ constants.TOOLTIP_FILTER_EXCLUDE_EMPTY }}">
                    <input type="checkbox" id="empty" name="{{ constants.FORM_ARGS.exclude_empty }}"
                           {% if form.exclude_empty %}checked{% endif %}>
                    <label for="empty">
                        {{ gettext("exclude empty") | safe }}</label>
                </div>
                <div class="filter-item misc-mirror"
                     title="{{ constants.TOOLTIP_FILTER_EXCLUDE_MIRROR }}">
                    <input type="checkbox" id="mirror" name="{{ constants.FORM_ARGS.exclude_mirror }}"
                           {% if form.exclude_mirror %}checked{% endif %}>
                    <label for="mirror">
                        {{ gettext("exclude mirror") | safe }}</label>
                </div>
            </div>
        </div>

        <div class="filter-section">
            <div class="services">
                <p class="services-label" title="{{ constants.TOOLTIP_FILTER_EXCLUDE_SOURCE }}">
                    {{ gettext("excluded sources:") | safe }}</p>
                <div class="services-sources">
                    {% for key, service in form.exclude_service_checkboxes.items() %}
                        <div class="filter-item hosting-service">
                            <input type="checkbox" id="{{ service.id }}" name="{{ service.id }}"
                                   {% if service.is_checked %}checked{% endif %}>
                            <label for="{{ service.id }}"
                                   title="{{ constants.TOOLTIP_FILTER_EXCLUDE_SOURCE }} - {{ service.label }}">
                                {{ service.label }}</label>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endset %} {# collapsible_content end #}
        {{ collapsible.build(class="sform", label=searchbar_html, content=collapsible_content, is_absolute=True, icon_src="/static/images/gear.svg", icon_alt=gettext("options gear-icon") | safe) }}

        <div class="search-hints">
            {% set search_hints_content -%}
            <div class="cheat-sheet">
                {% for tip in constants.SEARCH_HINTS %}
                    <div class="hint">
                        <span class="hint-prefix">{{ tip.prefix }}</span>
                        <span class="hint-highlight">{{ tip.highlight }}</span>
                        <span class="hint-suffix">{{ tip.suffix }}</span>
                    </div>
                {% endfor %}
            </div>
            <div class="docs-link">
                <p>
                    <span>{{ gettext("Further explanation and help can be found in our online") | safe }}</span>
                    <a href="https://docs.hubgrep.io/en/latest/docs/hubgrep_search/usage/search_syntax.html">{{ gettext("documentation.") | safe }}</a>
                </p>
            </div>
            {% endset %} {# search_hints_content end #}
            {{ collapsible.build(class="shints", label=gettext("search tips") | safe, content=search_hints_content, is_absolute=True) }}
        </div>
    </form>
</div>
{% endmacro %}
