{% macro create_form(search_url, form, class="") %}

<div class="searchform {{ class }}">
    <form action="{{ search_url }}" method="get">
        {% set searchbar_html %}
        <div class="input-bar">
            <label for="searchbar" aria-label="search"></label>
            <input type="text" id="searchbar" name="s" value="{{ form.search_phrase }}"
                   required="required" placeholder="{{ gettext("grebbit..") | safe }}">
            <label class="search-btn btn-effect" for="submit">
                <img src="/static/images/search.svg" alt="{{ gettext("search button icon") | safe }}">
            </label>
            <input type="submit" id="submit" value="">
        </div>
        {% endset %}

        {% import "components/collapsible/collapsible.html" as collapsible %}
        {% set collapsible_content -%}
        <div class="group">
            <div class="dates">
                <div class="dates-created-after">
                    <label for="created-after">{{ gettext("created after:") | safe }}</label>
                    <input type="date" id="created-after" name="ca" value="{{ form.created_after }}">
                </div>
                <div class="dates-created-before">
                    <label for="created-before">{{ gettext("created before:") | safe }}</label>
                    <input type="date" id="created-before" name="cb" value="{{ form.created_before }}">
                </div>
                <div class="dates-updated">
                    <label for="updated">{{ gettext("updated since:") | safe }}</label>
                    <input type="date" id="updated" name="u" value="{{ form.updated_after }}">
                </div>
            </div>

            <div class="misc">
                <div class="misc-forks">
                    <input type="checkbox" id="forks" name="f"
                           {% if form.exclude_forks %}checked{% endif %}>
                    <label for="forks">{{ gettext("exclude forks") | safe }}</label>
                </div>
                <div class="misc-archived">
                    <input type="checkbox" id="archived" name="a"
                           {% if form.exclude_archived %}checked{% endif %}>
                    <label for="archived">{{ gettext("exclude archived") | safe }}</label>
                </div>
            </div>
        </div>

        <div class="group">
            <div class="services">
                <p class="services-label">{{ gettext("excluded sources:") | safe }}</p>
                <div class="services-sources">
                    {% for key, service in form.exclude_service_checkboxes.items() %}
                        <div class="hosting-service">
                            <input type="checkbox" id="{{ service.id }}" name="{{ service.id }}"
                                   {% if service.is_checked %}checked{% endif %}>
                            <label for="{{ service.id }}">{{ service.label }}</label>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endset %} {# collapsible_content end #}
        {{ collapsible.build(class="sform", label=searchbar_html, content=collapsible_content, is_absolute=True, icon_src="/static/images/gear.svg", icon_alt=gettext("options gear-icon") | safe) }}
    </form>
</div>
{% endmacro %}
