.hosting-services {
  > ul {
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;

    li {
      min-width: 12em;
      flex: 0 0 33%;
    }
  }

  @include maxBreakpoint(mobile) {
    > ul {
      li {
        margin: 0.25em 0;
        flex: 0 0 50%;
      }
    }
  }
}