{% extends 'base.html' %}
{% import "components/hosting_service_list/hosting_service_list.html" as hosting_service_list %}

{% block styles %}
    <link href="{{ url_for('static', filename='css/hosters/hoster_list.css') }}"
          rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
    <div class="hoster-list">
        <h1>Hosters</h1>
        <p>When searching with this instance of HubGrep, you are searching through the following services:</p>
        {{ hosting_service_list.hosting_services(hosting_instances) }}
        <h2 class="hoster-list-add">
            {% if current_user.is_authenticated %}
                <a href="{{ url_for('frontend.manage_instances') }}">...add your own!</a>
            {% else %}
                <a href="{{ url_for('security.login') }}">...add your own!</a>
            {% endif %}
        </h2>
    </div>
{% endblock %}
