{% extends 'base.html' %}
{% import "components/hosting_service_list/hosting_service_list.html" as hosting_service_list %}

{% block styles %}
    <link href="{{ url_for('static', filename='css/hosters/hoster_list.css') }}"
          rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
    <div class="hoster-list">
        <h1>Hosters</h1>
        <p>When searching with this instance of HubGrep, you are searching through the following services:</p>
        {{ hosting_service_list.hosting_services(hosting_instances) }}
        <h2 class="hoster-list-add">
            <a href="{{ url_for('frontend.add_instance_step_1') }}">...add your own!</a>
        </h2>
    </div>
{% endblock %}
