{% extends 'base.html' %}
{% import "components/hosting_service_list.html" as hosting_service_list %}

{% block styles %}
    {% assets "scss_about" %}
        <link rel=stylesheet type=text/css href="{{ ASSET_URL }}">
    {% endassets %}
{% endblock %}

{% block content %}
    <div style="min-height: 100vh; display: flex; flex-direction: column; justify-content: center; align-items: center">
        <h2>hosters</h2>
        <p>by searching on this instance of hubgrep, you are searching through the following services</p>
        {{ hosting_service_list.hosting_services(hosting_instances) }}
        <h3>(<a href="{{ url_for('security.login') }}">...add your own!</a>)</h3>
    </div>
{% endblock %}
