
.collapsible {

  &.inline {
    display: inline-block;
  }

  &.absolute {
    position: relative;

    .collapsible-content {
      box-shadow: 1px 1px 3px color(boxShadow);
      background-color: color(white);
      position: absolute;
      z-index: 1;
    }
  }

  > input[type='checkbox'] {
    display: none;
  }

  .lbl-toggle {
    font-family: font(bold2);
    background-color: color(btn);
    color: color(fontInvert);
    fill: color(fontInvert); // inline svg
    display: block;
    cursor: pointer;

    .label {
      text-decoration: none;
      margin-right: 0.75em;

      &:empty {
        margin-right: 0;
      }
    }
  }

  .lbl-toggle:hover {
    background-color: color(btnHover);
  }

  .lbl-toggle .icon img {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    user-select: none;

    transition: transform 0.2s linear;
  }

  .toggle:checked + .lbl-toggle .icon img {
    transform: rotate(180deg);
  }

  .collapsible-content {
    background: color(bgGUI);
    max-height: 0;
    overflow: hidden;
    transition: max-height .25s ease-in-out;
  }

  .toggle:checked + .lbl-toggle + .collapsible-content {
    max-height: 700px; // we need a specific height for transition to take effect
  }

  .toggle:checked + .lbl-toggle {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .collapsible-content .content-inner {
    padding: 1.5em;
  }
}

