.pagination {
  margin: 2rem 0;

  &-control {

  }

  .prev, .next {
    width: 6em;
    display: inline-block;
  }

  .next {
    text-align: end;
  }

  .current-page {
    text-decoration: underline;
    pointer-events: none;
  }

  .divider {
    pointer-events: none;
    text-decoration: none;
  }

  .current-page {
    color: color(frogEye);

    &:hover, &:active, &:focus {
      color: color(font);
      text-decoration: none;
    }
  }
}