.main-title {
  display: inline-block;
  min-width: calc(#{value(lMargin)} - 1rem);
  text-align: center;

  h1 {
    color: color(hubgrepDark);
    text-align: center;
    margin: 1rem 0;
  }

  a:hover {
    text-decoration: none;
  }
}

.btn-effect {
  &:hover {
    opacity: 0.8;
  }
}
