form {
  min-width: 20rem;

  &:not(form.no-card) {
    @include cardify()
  }

  .form-fields {
    & > p {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;

      &:hover, &:active {
        .field-description {
            @include cardify($padding:1em)
            position: absolute;
            top: 2em;
            display: block;
            z-index: 1;
            right: 0;
          }
      }

      & > * {
        flex: 1 0 auto;
        text-align: left;

        &:first-child {
          $labelMargin: 0.5em;
          flex: 0 0 calc(40% - #{$labelMargin});
          margin-right: $labelMargin;
          text-align: right;

        }
      }
    }
  }

  .field-description {
    display: none;
  }

  .form-help-important {
    border-style: dashed;
    border-color: color(grey);
    background:  color(borderGrey);
    padding: 1em;
  }

  .form-submit {
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;

    & > p {
      margin-left: 1rem;
    }
  }
}
