html {
  background-color: color(bg);
  color: color(font);
}

body {
  overflow-x: hidden;
  margin: 0 auto;
  min-height: 100vh;
  max-width: value(maxPageWidth);

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

header, footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer {
  position: relative;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem 0;

  & > * {
    margin: 0;
  }
}

section {
  margin: 0 auto;
  max-width: value(maxContentWidth);

  & > * {
    padding: 0 1rem;
  }

  h1 {
    margin: 2em 0;
    text-align: center;
  }
}

a {
  text-decoration: none;
  color: color(link);

  &:visited {
    color: color(linkVisited);
  }

  &:hover {
    text-decoration: underline;
  }

  &.negate, &.negate:visited, &.negate:hover {
    color: inherit;
  }
}