<!DOCTYPE html>
<html lang="{{ get_locale() }}">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    {% block styles %}{% endblock %}
</head>
<body>
<header>
    {% block header %}{% endblock %}
</header>
<section>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
</section>
<footer>
    {% block footer %}{% endblock %}
</footer>
</body>
</html>
