{% import "components/nav/nav.html" as nav %}

<!DOCTYPE html>
<html lang="{{ get_locale() }}" {% block html_attribs %}{% endblock html_attribs %}>
<head>
    {%- block head %}
        {% block metas %}
            <meta charset="UTF-8">
            {% block open_graph %}
                <meta property="og:title" content="{{ constants.SITE_TITLE }} - Search for open source projects!">
                <meta property="og:type" content="website">
                <meta property="og:url" content="{{ request.base_url }}">
                <meta property="og:image" content="{{ request.base_url }}static/images/frog_small.png">
            {% endblock open_graph %}
        {% endblock metas %}

        <title>{{ title }}</title>

        <link rel="icon" type="image/png" href="static/images/favicon.png">

        {% block styles %}{% endblock styles %}
    {%- endblock head %}
</head>
<body data-debug="{{ config["DEBUG"]|lower }}">
<header>
    {% block header %}
        {% block header_title %}
            <div class="main-title">
                <a class="negate" href="{{ url_for('frontend.search') }}">
                    <h1>{{ constants.SITE_TITLE }}</h1>
                </a>
            </div>
        {% endblock header_title %}
        {% block header_menu %}
            {{ nav.links() }}
        {% endblock header_menu %}
    {% endblock header %}
</header>
<section>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    {% block content %}{% endblock content %}
</section>
<footer>
    {% block footer %}{% endblock footer %}
</footer>
</body>
</html>
