@import "util/mixins";

.item {
  $lh: 1.4rem;

  max-width: 35rem;

  margin: 1.75rem 0;
  line-height: $lh;

  h2 {
    font-size: size(header);
    display: inline-block;
  }

  h2, p {
    margin: 0;
  }

  .label {
    color: color(fontFade);
  }

  // --- link/title
  &-signature {
    display: block;
    pointer-events: none;

    h2:hover {
      text-decoration: underline;
    }

    h2, &-url {
      pointer-events: all;
    }

    &-name {
      font-weight: normal;
    }

    &-owner {
      font-weight: bold;
    }

    &-url {
      font-size: size(detail);

      &:hover {
        text-decoration: underline;
      }
    }
  }

  // --- info
  &-detail {
    font-size: size(detail);

    &-desc {
      @include multiLineEllipsis($lineHeight: $lh, $lineCount: 4, $bgColor: color(bg));
    }

    &-date {
      &-modified {
        .label {
          margin-left: 1rem;
        }
      }
    }

    &-misc {
      &-license {
        .label {
          margin-left: 1rem;
        }
      }
    }
  }
}
