{% extends 'base.html' %}
{% import "components/hosting_service_list.html" as hosting_service_list %}

{% block styles %}
{% assets "scss_about" %}
<link rel=stylesheet type=text/css href="{{ ASSET_URL }}">
{% endassets %}
{% endblock %}

{% block content %}


<div style="min-height: 100vh; display: flex; flex-direction: column; justify-content: center; align-items: center">
    <div class="about">
        {{ about_html | safe }}

        <p style="display: flex; flex-direction: row; justify-content: flex-start; align-items: center;">
        <a href="https://www.bmbf.de/en/" rel="nofollow">
            <img src="{{ url_for('static', filename='logos/bmbf.svg') }}" alt="Logo of the German Ministry for Education and Research" style="max-width:100%; padding:20px;" height="150px">
        </a>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        <a href="https://prototypefund.de/en/" rel="nofollow">
            <img src="docs/PF-Logo.svg" alt="Logo of the Prototype Fund" style="max-width:100%; padding:20px;" height="150px">
        </a>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        <a href="https://okfn.de/en/" rel="nofollow">
            <img src="docs/OKFD-Logo.svg" alt="Logo of the Open Knowledge Foundation Germany" style="max-width:100%; padding:20px;" height="150px">
        </a>
        </p>
    </div>
</div>
{% endblock %}
