{% extends 'base.html' %}

{% block styles %}
    {% assets "scss_about" %}
        <link rel=stylesheet type=text/css href="{{ ASSET_URL }}">
    {% endassets %}
{% endblock %}

{% block content %}
    <div style="min-height: 100vh; display: flex; flex-direction: column; justify-content: center; align-items: center">
        <img src="https://media.giphy.com/media/eWFkhT47cWjO8/giphy.gif">
        <div class="about">TODO text about this site, whats the point of it all? write something cute =)</div>
    </div>
{% endblock %}