{% extends 'base.html' %}
{% import "components/hosting_service_list.html" as hosting_service_list %}

{% block styles %}
    {% assets "scss_about" %}
        <link rel=stylesheet type=text/css href="{{ ASSET_URL }}">
    {% endassets %}
{% endblock %}

{% block content %}
    <div style="min-height: 100vh; display: flex; flex-direction: column; justify-content: center; align-items: center">
        <img src="https://media.giphy.com/media/eWFkhT47cWjO8/giphy.gif">
        <div class="about">TODO text about this site, whats the point of it all? write something cute =)</div>

        <h2># searched hosting instances</h2>
        {{ hosting_service_list.hosting_services(hosting_instances) }}
    </div>


{% endblock %}
