{% macro links(items=[], class_name="site-nav") %}
    {% if items|length == 0 %}
        {# assign default hubgrep links #}
        {% set items = [[url_for('frontend.about'), "about"], [url_for('frontend.hosters'), "hosters"]] %}
    {% endif %}

    <nav class="nav {{ class_name }}">
        <ul>
            {% for item in items %}
                {% set url = item[0] %}
                {% set label = item[1] %}
                <li class="nav-item">
                    <a class="negate" href="{{ url }}">{{ gettext(label) | safe }}</a>
                </li>
            {% endfor %}
        </ul>
    </nav>
{% endmacro %}
