
$breakpoints: (
        mobile: (width: 720px),
);

$fonts: (
        base: (arial, sans-serif),
);

$fontSizes: (
        header: 1.25rem,
        body: 1rem,
        footer: 1rem,
        detail: 0.875rem,
);

$colors: (
        hubgrep: #78ab58,
        hubgrepLight: #F2FFB4,
        frogEye: #FFAB00,
        warning: #ff0f0f,
        elementBg: #dae6a1,
        elementFont: #636d36,
        white: #FFFFFF,
        whiteAlt: #f2f2f2,
        font: #4d5156,
        fontFade: #7d7d7d,
        boxShadow: rgba(0, 0, 0, 0.17),
        grey: #aaa,
        link: #1a0dab,
        linkVisited: #551a8b,
);