.content_swap {
  .expanded {
    visibility: hidden;
    position: absolute;
  }

  &:hover {
    .default {
      visibility: hidden;
      position: absolute;
    }

    .expanded {
      visibility: visible;
      position: unset;
    }
  }
}

