@import "./components/status_message";
@import "./components/collapsible";
@import "./components/searchform";

.search {

  &-main {
    margin: 0 auto;
    width: 100%;
    min-width: 25rem;
    max-width: 37.5rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    &-title {
      h1 {
        margin: 1rem 0 1rem .5rem;
        color: color(hubgrepDark);
      }

      a:hover {
        text-decoration: none;
      }
    }

    &-form {
      width: 100%;

      .collapsible-content {
          margin-top: 0.5em;
        }
    }
  }

  &-result {
    &-messages:first-child {
      margin-top: 1rem;
    }
  }
}
