@import "./shared_bundle";
@import "search_base";
@import "./components/result_card";
@import "./components/status_message";
@import "./components/pagination";

header {
  display: none;
}

footer {
  justify-content: flex-end;
}

.search {

  @media (min-width: 720px) {
    &-main {
      flex-direction: row;
      margin: 0;

      &-logo {
        // omit logo image
      }

      &-title {
        min-width: 8.75rem;

        h1 {
          margin: 1rem 0 1rem .5rem;
        }
      }
    }

    &-result {
      padding-left: 10rem;
    }
  }
}