
.collapsible {

  &.inline {
    display: inline-block;
  }

  &.absolute {
    position: relative;

    .collapsible-content {
      position: absolute;
      z-index: 1;
      @include cardify(0)
    }
  }

  > input[type='checkbox'] {
    display: none;
  }

  .lbl-toggle {
    display: block;
    cursor: pointer;

    .label {
      text-decoration: none;
      //margin-right: 0.75em;

      &:empty {
        margin-right: 0;
      }

      &.btn-collapse {
        color: color(hubgrepDark);
        font-size: size(detail);
      }
    }

    .icon {
      margin-left: 0.75em;

      img {
        display: inline-block;
        width: 20px;
        height: 20px;
        vertical-align: middle;
        user-select: none;

        transition: transform 0.2s linear;
      }
    }
  }

  .toggle:checked + .lbl-toggle .icon img {
    transform: rotate(180deg);
  }

  .collapsible-content {
    display: none;
    overflow: hidden;
  }

  .toggle:checked + .lbl-toggle + .collapsible-content {
    display: unset;
  }

  .toggle:checked + .lbl-toggle {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .collapsible-content .content-inner {
    padding: 1.5em;
  }
}

