{# groups content in a collapsible container which expands on interacting with its label/btn/icon #}
{% macro build(content, class="", label="", is_inline=False, is_absolute=False, icon_src="", icon_alt="") %}
    <div class="collapsible {{ class }}
            {% if is_inline == true %}{{ "inline" }}{% endif %}
            {% if is_absolute == true %}{{ "absolute" }}{% endif %}">
        {% set id = range(100000) | random %}
        {% set collapse_id = ("collapsible-" + class).strip() + id | safe %}
        <input id="{{ collapse_id }}" class="toggle" type="checkbox">
        <label for="{{ collapse_id }}" class="lbl-toggle">
            {% if icon_src %}
                <span class="label">{{ label }}</span>
                <span class="icon btn-effect"><img class="btn-collapse" src="{{ icon_src }}" alt="{{ icon_alt }}"></span>
            {% else %}
                <span class="label btn-collapse btn-effect">{{ label }}</span>
            {% endif %}
        </label>
        <div class="collapsible-content">
            <div class="content-inner">
                {{ content }}
            </div>
        </div>
    </div>
{% endmacro %}